[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "skittles_berry"]
	path = bundle/skittles_berry
	url = https://github.com/shawncplus/skittles_berry.git
[submodule "/home/jharvard/.vim/bundle/sensible"]
	path = bundle/sensible
	url = https://github.com/tpope/vim-sensible.git
