[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/skittles_berry"]
	path = bundle/skittles_berry
	url = https://github.com/shawncplus/skittles_berry.git
[submodule "bundle/sensible"]
	path = bundle/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "bundle/NERDtree"]
	path = bundle/NERDtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/flagship"]
	path = bundle/flagship
	url = https://github.com/tpope/vim-flagship.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/quicktask"]
	path = bundle/quicktask
	url = https://github.com/aaronbieber/vim-quicktask.git
[submodule "bundle/scriptease"]
	path = bundle/scriptease
	url = https://www.github.com/tpope/vim-scriptease.git
[submodule "bundle/vaxe"]
	path = bundle/vaxe
	url = https://github.com/jdonaldson/vaxe.git
[submodule "bundle/kerboscript"]
	path = bundle/kerboscript
	url = https://github.com/tomvanderlee/vim-kerboscript.git
